@import "tailwindcss";

:root {
  --background: #b3c3a8;
  --foreground: #171717;
  --darkergreen: #31541b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkergreen: var(--darkergreen);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b3c3a8;
    --foreground: #ededed;
    --darkergreen: #darkergreen;
  }
}

body {
  background: var(--color-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-slate-100/20 bg-slate-200/10 backdrop-blur-md;
  content: "";
}
